﻿@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Multi Insurace Application">
    <meta name="author" content="do.linkedin.com/pub/fagro-vizcaino/3b/741/a24/en">
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/ico" />

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/css")
    
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <![endif]-->
</head>

<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Multiseguros", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administraci&oacute;n<b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Gestionar Compañia", "ListOfInsuranceCompanies", "Product")</li>
                            <li>@Html.ActionLink("Gestionar Planes Productos", "ListOfProductPlan", "Product")</li>
                            <li>@Html.ActionLink("Gestionar Formas de pago", "ListOfProductMethodOfPaymentOptions", "Product")</li>
                            <li>@Html.ActionLink("Gestionar Medio de pago", "ListOfProductMeansOfPaymentOptions", "Product")</li>
                            <li>@Html.ActionLink("Gestionar Ramo", "ListOfBranchTypes", "Product")</li>
                            <li>@Html.ActionLink("Gestionar Gestores", "ListOfRepresentatives", "Product")</li>
                            <li>@Html.ActionLink("Gestionar Indexación", "ListOfTypesIndexing", "Product")</li>
                            <li>@Html.ActionLink("Gestionar Moneda", "ListOfCurrencyRates", "Product")</li>
                            <li>@Html.ActionLink("Gestionar Amparo", "ListOfShelterTypes", "Product")</li>
                            <li>@Html.ActionLink("Gestionar Info Adicional", "ListOfAdditionalTypeInfos", "Product")</li>
                            <li>@Html.ActionLink("Gestionar Productos", "ListOfProductBasicData", "Product")</li>
                        </ul>
                    </li
>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operaci&oacute;n <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Buscar Póliza", "Search", "Policy")</li>
                            <li>@Html.ActionLink("Crear Póliza", "Create", "Policy")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Generar Pólizas Masivas", "MassivePolicyGeneration", "Policy")</li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Procesos<b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Generar Recibos", "GenerateInvoice", "Invoice")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Generar Cobros", "GenerateCharge", "Invoice")</li>
                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Herramientas<b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Diseñar producto", "CreateProduct", "Product")</li>
                            <li class="divider"></li>
                        </ul>
                    </li>


                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Creaci&oacute;n de productos</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text">Hola, @User.Identity.Name</li>
                </ul>
            </div><!--/.nav-collapse -->
        </div> <!--/container -->
    </div><!--/.navbar-->

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Multi-Insurance</p>
        </footer>
    </div><!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    
    
    </body>
</html>
