﻿@model Multi_Insurance.DataAccessLayer.Entities.Policy


<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Beneficiaries.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.Beneficiaries.FirstOrDefault().LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Beneficiaries.FirstOrDefault().IdRelationship)</th>
        </tr>
    </thead>
    <tbody>
        @{
            
            foreach (var item in Model.Beneficiaries)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdRelationship)</td>
                </tr>
            }
        }
            
        

    </tbody>
</table>
