﻿@model Multi_Insurance.WebUI.Models.PolicyViewModel

<div id="pagescroll"></div>
<a id="policyDataScroll" href="#pagescroll" class="hide"></a>

@using (Ajax.BeginForm("CreatePolicyData", "Policy", null, new AjaxOptions
{
    HttpMethod = "post",
    OnSuccess = "OnSuccessPolicyData",
    OnFailure = "onFailureAlertMessage"
},
new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Ingrese los datos</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.PlanCode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownList("PlanCode", Model.ProductPlansSelectListItems, "Seleccione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductPlansSelectListItems, null, new { @class = "alert-danger" })
            </div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.MethodOfPayment, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownList("MethodOfPayment", Model.MethodOfPaymentOptionsSelectListItems, "Seleccione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MethodOfPaymentOptionsSelectListItems, null, new { @class = "alert-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MeansOfPayment, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownList("MeansOfPayment", Model.MeansOfPaymentSelectListItemss, "Seleccione un medio de pago", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MeansOfPaymentSelectListItemss, null, new { @class = "alert-danger" })

            </div>
        </div>
       @* <div class="form-group">

            @Html.LabelFor(model => model.ValueOptions, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownList("ValueOptions", Model.ProductOptionSelectListItems, "Seleccione un valor asegurado", new { @class = "form-control", @id = "ddlValueOptions" })
                @Html.ValidationMessageFor(model => model.ProductOptionSelectListItems, null, new { @class = "alert-danger" })
            </div>
        </div>*@

        <div class="form-group">

            @Html.LabelFor(model => model.AccountNumber, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownList("AccountNumber",
                new SelectListItem[]
                {
                    new SelectListItem
                    {
                        Text = "789456123",
                        Value = "00000"
                    },
                    new SelectListItem
                    {
                        Text = "785485123",
                        Value = "00001"
                    }
                }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AccountNumber, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.PremiumsUnder, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.PremiumsUnder, new { @class = "form-control", @placeholder = "Valor Prima", @type = "number", @id = "txtPolicyPremiumValue" })
                @Html.ValidationMessageFor(model => model.PremiumsUnder, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" id="policyDataNext">
                    Siguiente
                </button>
            </div>
        </div>
    </fieldset>
}