﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@using (Ajax.BeginForm("CreateProductMethodOfPayment", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Configuracion de formas de pago</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MethodOfPayment.ProductCode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(m => m.MethodOfPayment.ProductCode, Model.ProductSelectListItems, "Seleccione un producto", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MethodOfPaymentSelectListItems, null,new {@class="alert-danger"})
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.MethodOfPayment.MethodOfpaymentCode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(m => m.MethodOfPayment.MethodOfpaymentCode, Model.MethodOfPaymentSelectListItems, "Seleccione una forma de pago", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MeansOfPaymentSelectListItems, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" id="productMethodOfPaymentButton">
                    Crear
                </button>
            </div>
        </div>
    </div>
}