﻿@model Multi_Insurance.WebUI.Models.PolicyViewModel

@using (Ajax.BeginForm("CreatePolicyInsured", "Policy", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessInsured",
        OnFailure = "onFailureAlertMessage"
    }
    , new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Ingrese los datos</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.Insured.Id, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Insured.Id, new { @class = "form-control", @maxlength = "50", @placeholder = "Cedula", @type = "number" })
                @Html.ValidationMessageFor(model => model.Insured.Id, null, new { @class = "text-danger" })
            </div>
            <div class="col-lg-offset-8">
                <button type="button" class="btn btn-primary" id="searchInsuredButton">
                    Buscar
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Insured.Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Insured.Name, new { @class = "form-control", @maxlength = "50", @placeholder = "Nombre" })
                @Html.ValidationMessageFor(model => model.Insured.Name, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Insured.LastName, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Insured.LastName, new { @class = "form-control", @maxlength = "50", @placeholder = "Apellido" })
                @Html.ValidationMessageFor(model => model.Insured.LastName, null, new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Insured.Gender, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.Insured.Gender, new[] {
                                    new SelectListItem {Text = "Masculino",
                                        Value = "M"},
                                    new SelectListItem {Text = "Femenino",
                                        Value = "F"}
                                }, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Insured.Birthday, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Insured.Birthday, new { @class = "form-control", @type = "Date", @placeholder = "Fecha Nacimiento" })
                @Html.ValidationMessageFor(model => model.Insured.Birthday)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Insured.Phone, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Insured.Phone, new { @class = "form-control", @type = "tel", @placeholder = "Telefono" })
                @Html.ValidationMessageFor(model => model.Insured.Phone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Insured.Cellphone, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Insured.Cellphone, new { @class = "form-control", @type = "tel", @placeholder = "Celular" })
                @Html.ValidationMessageFor(model => model.Insured.Cellphone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Insured.CityId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.Insured.CityId, new[] {
                                    new SelectListItem {Text = "Santo Domingo",
                                        Value = "1"},
                                    new SelectListItem {Text = "Santiago",
                                        Value = "2"}
                                }, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Insured.Sector, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.Insured.Sector, new[] {
                                    new SelectListItem {Text = "Piantini",
                                        Value = "1"},
                                    new SelectListItem {Text = "Naco",
                                        Value = "2"}
                                }, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Insured.Street, new {@class = "col-lg-2 control-label"})
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Insured.Street, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Insured.Street, null, new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Insured.Email, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Insured.Email, new { @class = "form-control", @type = "email", @placeholder = "Correo Electronico" })
                @Html.ValidationMessageFor(model => model.Insured.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Insured.Profession, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.Insured.Profession, new[]
                                {
                                        new SelectListItem{Text = "Ingeniero", Value = "1"},
                                        new SelectListItem{Text = "Abogado", Value = "2"},
                                         new SelectListItem {Text = "Tecnico/Informatica", Value = "3"}
                                    }, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" id="InsuredNextButton">
                    Siguiente
                </button>
            </div>
        </div>
    </fieldset>
}
