﻿@model Multi_Insurance.WebUI.Models.PolicyViewModel
           

@using (Ajax.BeginForm("CreatePolicyClient", "Policy", null, 
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessClient",
        OnFailure = "onFailureAlertMessage"
    }
    , new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Ingrese los datos</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.Client.Id, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Client.Id, new { @class = "form-control", @maxlength = "50", @placeholder = "Cedula", @type = "number" })
                @Html.ValidationMessageFor(model => model.Client.Id, null, new { @class = "text-danger" })
            </div>
            <div class="col-lg-offset-8">
                <button type="button" class="btn btn-primary" id="searchClientButton">
                    Buscar
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Client.Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Client.Name, new { @class = "form-control", @maxlength = "50", @placeholder = "Nombre" })
                @Html.ValidationMessageFor(model => model.Client.Name, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Client.LastName, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Client.LastName, new { @class = "form-control", @maxlength = "50", @placeholder = "Apellido" })
                @Html.ValidationMessageFor(model => model.Client.LastName, null, new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Client.Gender, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.Client.Gender, new[] {
                                    new SelectListItem {Text = "Masculino",
                                        Value = "M"},
                                    new SelectListItem {Text = "Femenino",
                                        Value = "F"}
                                }, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Client.Birthday, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Client.Birthday, new { @class = "form-control", @type = "Date", @placeholder = "Fecha Nacimiento" })
                @Html.ValidationMessageFor(model => model.Client.Birthday)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Client.Phone, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Client.Phone, new { @class = "form-control", @type = "tel", @placeholder = "Telefono" })
                @Html.ValidationMessageFor(model => model.Client.Phone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Client.Cellphone, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Client.Cellphone, new { @class = "form-control", @type = "tel", @placeholder = "Celular" })
                @Html.ValidationMessageFor(model => model.Client.Cellphone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Client.CityId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.Client.CityId, new[] {
                                    new SelectListItem {Text = "Santo Domingo",
                                        Value = "1"},
                                    new SelectListItem {Text = "Santiago",
                                        Value = "2"}
                                }, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Client.Sector, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.Client.Sector, new[] {
                                    new SelectListItem {Text = "Piantini",
                                        Value = "1"},
                                    new SelectListItem {Text = "Naco",
                                        Value = "2"}
                                }, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Client.Street, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Client.Street, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Client.Street,null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Client.Profession, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.Client.Profession, new[]
                                {
                                        new SelectListItem{Text = "Ingeniero", Value = "1"},
                                        new SelectListItem{Text = "Abogado", Value = "2"},
                                         new SelectListItem {Text = "Tecnico/Informatica", Value = "3"}
                                    }, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" id="clientNextButton">
                    Siguiente
                </button>
            </div>
        </div>
    </fieldset>
}
