﻿@model Multi_Insurance.WebUI.Models.PolicyViewModel 



@using (Ajax.BeginForm("CreatePolicy", "Policy", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "beneficiaryTable"
    }
    , new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Ingrese los datos</legend>
        <div class="form-group">

            @Html.LabelFor(model => model.Beneficiaries.FirstOrDefault().Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Beneficiaries.FirstOrDefault().Name, new { @id = "beneficiaryName", @class = "form-control", @maxlenght = "50", @placeholder = "Nombre", @type = "text" })
                @Html.ValidationMessageFor(model => model.Beneficiaries.FirstOrDefault().Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Beneficiaries.FirstOrDefault().LastName, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Beneficiaries.FirstOrDefault().LastName, new { @id = "beneficiaryLastName", @class = "form-control", @maxlength = "60", @placeholder = "Apellido", @type = "text" })
                @Html.ValidationMessageFor(model => model.Beneficiaries.FirstOrDefault().LastName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Beneficiaries.FirstOrDefault().IdRelationship, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">

                @Html.DropDownListFor(model => model.Beneficiaries.FirstOrDefault().IdRelationship, new[]
                {
                    new SelectListItem{Text = "Hijo/a", Value = "1"},
                    new SelectListItem{Text = "Tia/Tio", Value = "2"},
                }, "Selecciones", new { @id = "beneficiaryRelationship", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Beneficiaries.FirstOrDefault().Percentage, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Beneficiaries.FirstOrDefault().Percentage, new { @id = "beneficiaryPercentage", @class = "form-control", @placeholder = "Porcentage", @type = "number" })
                @Html.ValidationMessageFor(model => model.Beneficiaries.FirstOrDefault().Percentage)
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="button" class="btn btn-primary" id="addBeneficiary">
                    Agregar Beneficiario
                </button>

                <button type="button" class="btn btn-success disabled" id="createPolicyButton">
                    Crear P&oacute;liza
                </button>
            </div>

        </div>

    </fieldset>
}


<div class="panel-default">
    <div class="panel-body">
        <div class="page-header">
            <h3 id="title" class="col-lg-offset-2">Beneficiarios </h3>
        </div>
        <div id="beneficiaryTableId" class="col-lg-offset-2 col-lg-8">
            <table id="beneficiaryTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>@Html.LabelFor(model => model.Beneficiaries.FirstOrDefault().Name)</th>
                        <th>@Html.LabelFor(model => model.Beneficiaries.FirstOrDefault().LastName)</th>
                        <th>@Html.LabelFor(model => model.Beneficiaries.FirstOrDefault().IdRelationship)</th>
                        <th>@Html.LabelFor(model => model.Beneficiaries.FirstOrDefault().Percentage)</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
   
</div>


