﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@using (Ajax.BeginForm("CreateProductOptions", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Opciones del producto</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductOptions.ProductCode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.ProductOptions.ProductCode,Model.ProductSelectListItems, "Seleccione un producto", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductSelectListItems, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductOptions.PlanCode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.ProductOptions.PlanCode, Model.ProductPlanSelectItems, "Seleccione un plan", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductSelectListItems, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductOptions.ValueOptions, new { @class = "col-lg-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProductOptions.ValueOptions, new { @class = "form-control", @placeholder = "Valor de póliza", @type = "number" })
                @Html.ValidationMessageFor(model => model.ProductOptions.ValueOptions, null, new { @class = "alert-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ProductOptions.Declaration, new { @class = "col-lg-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ProductOptions.Declaration, new { @class = "form-control", @placeholder = "Declaración jurada", @type = "text", @maxlength=800 })
                @Html.ValidationMessageFor(model => model.ProductOptions.Declaration, null, new { @class = "alert-danger" })
            </div>
        </div>
        
        

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="submit"  class="btn btn-primary"> Crear</button>
            </div>
        </div>
    </div>
}

