﻿@model Multi_Insurance.WebUI.Models.ProductViewModel


<table class="table table-striped">
    @*
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProductPlans.FirstOrDefault().PlanName)</th>
            <th>@Html.DisplayNameFor(model => model.ProductPlans.FirstOrDefault().AmountOption)</th>

        </tr>
    </thead>
    <tbody>
        @{

            foreach (var item in Model.ProductPlans)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.PlanName)</td>
                    <td>@Html.DisplayFor(modelItem => item.AmountOption)</td>
                </tr>
            }
        }



    </tbody>*@
</table>
