﻿@model Multi_Insurance.WebUI.Models.PolicyViewModel

@{
    ViewBag.Title = "Póliza";
}

<div class="row">
    <div class="page-header">
        <h1 id="titlePolicyScroll">Creaci&oacute;n de p&oacute;lizas | @ViewBag.ProductName</h1>
    </div>
</div>

<div class="row">
    <ul class="nav nav-tabs">
        <li class="active" id="clientList">
            <a id="clientNext" href="#client" data-toggle="tab">Cliente</a>
        </li>
        <li  id="InsuredPolicy">
            <a id="InsuredNext" href="#" data-toggle="tab">Asegurado</a>
        </li>
        <li class="disabled" id="listPolicy">
            <a id="policyNext" href="#" data-toggle="tab">Datos de p&oacute;liza</a>
        </li>
        <li class="disabled" id="listBeneficiary">
            <a id="beneficiaryNext" href="#" data-toggle="tab">Beneficiarios</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade in active" id="client">
            <div class="well">
                @{
                    Html.RenderPartial("CreatePolicyClient", Model);
                }

            </div>
        </div>

        <div class="tab-pane fade" id="Insured">
            <div class="well">
                @{
                    Html.RenderPartial("CreatePolicyInsured", Model);
                }

            </div>
        </div>

        <div class="tab-pane fade" id="policyData">
            <div class="well">
                @{
                    Html.RenderPartial("CreatePolicyData", Model);    
                }
                
            </div>
        </div>

        <div class="tab-pane fade" id="beneficiary">
            <div class="well">
               @{
                   Html.RenderPartial("CreatePolicyBeneficiary", Model);
               }
            </div>
        </div>

        @*<div class="tab-pane fade" id="Dependent">
            <div class="well">
                @{
                    Html.RenderPartial("CreatePolicyDependent", Model.Dependents);
                }
            </div>
        </div>*@


    </div>
  
</div>
