﻿@model Multi_Insurance.Domain.Entities.Policy

@{
    ViewBag.Title = "Editar";
}

<div class="row">
    <div class="page-header">
        <h1 id="title">Editar p&oacute;lizas : </h1>
    </div>
</div>

<div class="row">
    <ul class="nav nav-tabs">
        <li class="active" id="clientList">
            <a id="clientNext" href="#client" data-toggle="tab">Clientes</a>
        </li>
        <li class="disabled" id="listPolicy">
            <a id="policyNext" href="#" data-toggle="tab">Datos de poliza</a>
        </li>
        <li class="disabled" id="listBeneficiary">
            <a id="beneficiaryNext" href="#" data-toggle="tab">Beneficiarios</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade in active" id="client">
            <div class="well">
                @{
                    Html.RenderPartial("CreatePolicyClient", Model);
                }

            </div>
        </div>

        <div class="tab-pane fade" id="policyData">
            <div class="well">
                @{
                    Html.RenderPartial("CreatePolicyData", Model);
                }

            </div>
        </div>

        <div class="tab-pane fade" id="beneficiary">
            <div class="well">
                @{
                    Html.RenderPartial("CreatePolicyBeneficiary", Model);
                }
            </div>
        </div>
    </div>

</div>
