﻿@{
    ViewBag.Title = "Index";
}


<div class="row">

    <ul class="nav nav-tabs">
        <li class="active">
            <a id="clientNext" href="#client" data-toggle="tab">Clientes</a>
        </li>
        <li class="disabled" id="listPolicy">
            <a id="policyNext" href="#policyData" data-toggle="tab">Datos de poliza</a>
        </li>
        <li class="disabled" id="listBeneficiary">
            <a id="beneficiaryNext" href="#beneficiary" data-toggle="tab">Beneficiarios</a>
        </li>
    </ul>


    <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade in active" id="client">
            <div class="well">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Ingrese los datos</legend>
                        <div class="form-group">
                            <label for="name" class="col-lg-2 control-label">Nombre</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="name" maxlength="50" placeholder="Nombre" />
                            </div>
                        </div>
                        <div class="form-group">

                            <label for="Lastname" class="col-lg-2 control-label">Apellido</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="Lastname" placeholder="Apellido" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="gender" class="col-lg-2 control-label">Sexo</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="gender">
                                    <option>Masculino</option>
                                    <option>Femenino</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthday" class="col-lg-2 control-label">Fecha Nacimiento</label>
                            <div class="col-lg-6">
                                <input type="date" class="form-control" id="birthday" placeholder="Fecha de nacimiento" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Phone" class="col-lg-2 control-label">Tel&eacute;fono</label>
                            <div class="col-lg-6">
                                <input type="tel" class="form-control" id="Phone" placeholder="Tel&eacute;fono" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Cellphone" class="col-lg-2 control-label">Celular</label>
                            <div class="col-lg-6">
                                <input type="tel" class="form-control" id="Cellphone" placeholder="Celular" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="City" class="col-lg-2 control-label">Ciudad</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="City">
                                    <option>Santo domingo</option>
                                    <option>Santiago</option>
                                    <option>La vega</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Sector" class="col-lg-2 control-label">Sector</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="Sector">
                                    <option>Piantini</option>
                                    <option>Naco</option>
                                    <option>Ahoyo Hondo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Street" class="col-lg-2 control-label">Calle</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="Street" placeholder="Calle y # vivienda" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Occupation" class="col-lg-2 control-label">Ocupaci&oacute;n</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="Occupation">
                                    <option>Ingeniero/a</option>
                                    <option>Administracion</option>
                                    <option>Derecho</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6 col-lg-offset-2">
                                <button type="button" class="btn btn-default" id="clientNextButton">
                                   Siguiente
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

       
    </div>
</div>
