﻿@model Multi_Insurance.Domain.Models.MassivePolicyGeneratorViewModel


<div class="row">
    <div class="page-header">
        <h1 id="title">Generar P&oacute;lizas Masivas | @ViewBag.ProductName</h1>
    </div>
</div>

<div class="row">
    <div class="well">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Seleccione un archivo en excel con una columna ID que contenga las c&eacute;dulas</h4>
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Product.Name, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-6">
                        @Html.DropDownListFor(model => model.Product.Name, new[]
                    {
                        new SelectListItem{Text = "Vida", Value = "1"},
                        new SelectListItem{Text = "Asistencia Funeraria", Value = "2"}
                    }, "Seleccione un producto", new { @class = "form-control"})
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.FileUpload, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-default" id="productPlanButton">
                            Subir archivo
                            <span class="glyphicon glyphicon-file"></span>
                        </button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
