﻿

@{
    ViewBag.Title = "Search";
}

<div class="row">
    <div class="page-header">
        <h1 id="title">Buscar Clientes/P&oacute;lizas | @ViewBag.ProductName</h1>
    </div>
</div>


<div class="row">
    <div class="well">
        <form class="form-inline">
            <fieldset>
                <legend>Ingrese los datos</legend>
                <div class="form-group col-lg-offset-3">
                    <label class="sr-only" for="search">Buscar</label>
                    <input type="number" class="form-control" id="search" placeholder="Cédula/Póliza" />
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-lg-offset-1">
                        <button type="submit" class="btn btn-default">
                            Buscar
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>

<div class="row">
    
        <form class="form-horizontal">
            <fieldset>
                <legend>Datos</legend>
                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Nombre</label>
                    <div class="col-lg-6">
                        <input class="form-control" id="name" type="text" placeholder="Nombre" disabled="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-lg-2 control-label">Apellido</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="lastname" placeholder="Apellido" disabled="" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-lg-2 control-label">Sexo</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="gender" placeholder="Sexo" disabled="" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthday" class="col-lg-2 control-label">Fecha de nacimiento</label>
                    <div class="col-lg-6">
                        <input class="form-control" id="birthday" type="date" placeholder="Fecha nacimento" disabled="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Status" class="col-lg-2 control-label">Estatus</label>
                    <div class="col-lg-6">
                        <input class="form-control" id="Status" type="text" placeholder="Estado poliza" disabled="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="plan" class="col-lg-2 control-label">Plan</label>
                    <div class="col-lg-6">
                        <input class="form-control" id="plan" type="text" placeholder="Plan" disabled="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="paymentMethod" class="col-lg-2 control-label">Forma de pago</label>
                    <div class="col-lg-6">
                        <input class="form-control" id="paymentMethod" type="text" placeholder="Forma de pago" disabled=""/> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="accountType" class="col-lg-2 control-label">Tipo Cuenta</label>
                    <div class="col-lg-6">
                        <input class="form-control" id="accountType" type="text" placeholder="Tipo Cuenta" disabled="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="insuranceAmount" class="col-lg-2 control-label">Valor Insured</label>
                    <div class="col-lg-6">
                        <input class="form-control" id="insuranceAmount" type="number" placeholder="Valor asegurado" disabled="">
                    </div>
                </div>
              
                <div class="form-group">
                    <div class="col-lg-6 col-lg-offset-2">
                        @Html.ActionLink("Crear Poliza", "Create", "Policy") | @Html.ActionLink("Editar Poliza", "Edit", "Policy", new { id = "1"}, null)
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

<div class="row">
    <div class="page-header">
        <h3 id="beneficiary"> Beneficiarios</h3>
    </div>

</div>