﻿@model Multi_Insurance.WebUI.Models.HomeViewModel

@{
    ViewBag.Title = "Home";
}

<div class=""></div>
<div class="jumbotron">
    <h2 class="text-center">Bienvenid@@ a @ViewBag.AppName</h2>
    <p class="text-center">
        Herramienta para la venta y administraci&oacute;n de productos de seguros.
    </p>
</div>

<div class="row">

    <div class="panel-default">
        <div class="panel-heading text-center">Productos</div>
        <div class="panel-body"></div>
        @using (Ajax.BeginForm("ChooseProductToUse","Home",null,
            new AjaxOptions
            {
                HttpMethod = "post",
                OnSuccess = ""
            }, new{@class="form-horizontal"}))
        {
            @Html.AntiForgeryToken()
          
                <div class="form-group">
                <div class="col-lg-4 col-lg-offset-4">
                    @Html.DropDownListFor(m => m.Name, Model.ProductSelectListItems, "Seleccione un producto", new { @class = "form-control", @id = "ddlProductToChoose"})
                    @Html.ValidationMessageFor(model => model.ProductSelectListItems, null, new { @class = "alert-danger" })
                </div>
                </div>
            
            <div class="form-group">
            <div class="col-lg-4 col-lg-offset-5">
                <input type="button" class="btn btn-primary" value="Aceptar" id="btnChooseProduct">
            </div>
        </div>
        }
    </div>
</div>

<div id="alerts">
    <div id="alertsMessage"></div>
</div>
