﻿<div class="row">
    <div class="page-header">
        <h1 id="title">Generaci&oacute;n de cobros no programado : | @ViewBag.ProductName</h1>
    </div>
</div>


<div class="row">
    <div class="panel panel-warning">
        <div class="panel-heading">Este proceso es corrido diario</div>
        <div class="panel-body">
            @using (Html.BeginForm("GenerateCharge", "Invoice"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    <div class="form-group">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-warning" id="generateCharge">
                                Generar
                            </button>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>