﻿<div class="row">
    <div class="page-header">
        <h1 id="title">Generaci&oacute;n de recibos no programada: | @ViewBag.ProductName</h1>
    </div>
</div>


<div class="row">
    <div class="panel panel-warning">
        <div class="panel-heading">Este proceso es corrido diario</div>
        <div class="panel-body">
            @using (Html.BeginForm("GenerateInvoice", "Invoice"))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4>Configuracion de recibos</h4>
                    <hr />
                    <div class="form-group">
                        
                        <label for="invoiceDate" class="col-md-2 control-label">Día de corte</label>
                        <div class="col-md-6">
                            <input class="form-control" id="invoiceDate" type="number" placeholder="Día de corte">
                        </div>
                       
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-6">
                            <button type="button" class="btn btn-success" id="saveInvoiceConfig">
                                Grabar
                            </button>
                        </div>
                        <div class="col-md-offset-2">
                            <button type="button" class="btn btn-warning" id="generateInvoice">
                                Generar
                            </button>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>