﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@using (Ajax.BeginForm("CreateProductPaymentPlan", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Planes de pago</h4>
        <hr />
        @Html.ValidationSummary(true)
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.Product.Id, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(m => m.Product.Id, Model.ProductSelectListItems, "Seleccione un producto", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductSelectListItems, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductOptions.PlanCode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(m => m.ProductOptions.PlanCode, Model.ProductPlanSelectItems, "Seleccione un plan", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.ProductPlanSelectItems, null, new { @class = "alert-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ProductOptions.ValueOptions, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(m => m.ProductOptions.ValueOptions, new { @class = "form-control", @maxlength = "99999", @placeholder = "Valor Opcion", @type = "number" })
                @Html.ValidationMessageFor(model => model.ProductOptions.ValueOptions, null, new { @class = "alert-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionsCode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(m => m.MethodOfPaymentOptions.MethodOfPaymentOptionsCode, Model.MethodOfPaymentSelectListItems, "Seleccione Forma de pago", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.MethodOfPaymentSelectListItems, null, new { @class = "alert-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.MeansOfPaymentOptions.MeansOfPaymentCode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(m => m.MeansOfPaymentOptions.MeansOfPaymentCode, Model.MeansOfPaymentSelectListItems, "Seleccione medio de pago", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.MeansOfPaymentSelectListItems, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" id="productMethodOfPaymentButton">
                    Crear
                </button>
            </div>
        </div>
    </div>
}


