﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@using (Ajax.BeginForm("CreateProductShelterAndCondition", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Planes de pago</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.Product.Id, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(m => m.Product.Id, Model.ProductSelectListItems, "Seleccione un producto", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductSelectListItems, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Shelter.ShelterTypeId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(m => m.Shelter.ShelterTypeId, Model.ShelterSelectListItems, "Seleccione un amparo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.ShelterSelectListItems, null, new { @class = "alert-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Shelter.ShelterValue, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(m => m.Shelter.ShelterValue, new { @class = "form-control", @maxlength = "100", @placeholder = "Porcentaje", @type = "number" })
                @Html.ValidationMessageFor(model => model.Shelter.ShelterValue, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdditionalType.AdditionalTypeInfoId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(m => m.AdditionalType.AdditionalTypeInfoId, Model.AdditionalTypeInfosSelectListItems, "Seleccione una condición", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.AdditionalTypeInfosSelectListItems, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdditionalType.AdditionalValue, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(m => m.AdditionalType.AdditionalValue, new { @class = "form-control", @maxlength = "9999.99", @placeholder = "Valor Condición", @type = "number" })
                @Html.ValidationMessageFor(model => Model.AdditionalType.AdditionalValue, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" id="idProductShelterAndCondition">
                    Crear
                </button>
            </div>
        </div>
    </div>
}
