﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Producto";
}

<div class="row">
    <div class="page-header">
        <h1 id="title">Creaci&oacute;n de Producto</h1>
    </div>
</div>



<div class="row">
    <ul class="nav nav-tabs">

        
        <li class="active" id="productBasicDataLi">
            <a id="productBasicDataNext" href="#productBasicDataContent" data-toggle="tab">Datos Basicos</a>
        </li>

        <li class="" id="productPaymentPlanLi">
            <a id="productPaymentPlanNext" href="#productPaymentPlanContent" data-toggle="tab">Planes de pago</a>
        </li>

        <li class="" id="productShelterAndConditionLi">
            <a id="productShelterAndConditionNext" href="#productShelterAndConditionContent" data-toggle="tab">Amparos y condiciones</a>
        </li>
        <li class="" id="productPremiumUnder" >
            <a id="productPremiumUnderNext" href="#productPremiumUnderContent" data-toggle="tab">Primas</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">


       

        <div class="tab-pane fade in active" id="productBasicDataContent">
            <div class="well">
                @{
                    Html.RenderPartial("CreateProductBasic", Model);
                }

            </div>
        </div>

        <div class="tab-pane fade" id="productPaymentPlanContent">
            <div class="well">
                @{
                    Html.RenderPartial("CreateProductPaymentPlan", Model);
                }

            </div>
        </div>

        <div class="tab-pane fade" id="productShelterAndConditionContent">
            <div class="well">
                @{
                    Html.RenderPartial("CreateProductShelterAndCondition", Model);
                }
            </div>
        </div>

        <div class="tab-pane fade" id="productPremiumUnderContent">
            <div class="well">
                @{
                    Html.RenderPartial("CreateProductPremiumUnder", Model);
                }
            </div>
        </div>

    </div>

</div>

<div id="alerts">

</div>