﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@using (Ajax.BeginForm("CreateCompany","Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }
    , new {@class = "form-horizontal"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Creaci&oacute;n de Compañia</h4>
        <hr />
        @Html.ValidationSummary(true)
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCompany.Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.InsuranceCompany.Name, new { @class = "form-control", @maxlength = "30", @placeholder = "Nombre Compañia", @type = "text" })
                @Html.ValidationMessageFor(model => model.InsuranceCompany.Name, null, new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCompany.Rnc, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.InsuranceCompany.Rnc, new { @class = "form-control", @maxlength = "9", @placeholder = "RNC", @type = "text" })
                @Html.ValidationMessageFor(model => model.InsuranceCompany.Rnc, null, new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCompany.Percentage, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.InsuranceCompany.Percentage, new { @class = "form-control", @maxlength = "9", @placeholder = "Porcentaje compañia seguros", @type = "number" })
                @Html.ValidationMessageFor(model => model.InsuranceCompany.Percentage, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCompany.Phone, new { @class = "control-label col-lg-2" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.InsuranceCompany.Phone, new { @class = "form-control", @maxlength = "30", @placeholder = "Telefono", @type = "text" })
                @Html.ValidationMessageFor(model => model.InsuranceCompany.Phone, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCompany.Address, new { @class = "control-label col-lg-2" })
            <div class="col-lg-6">
                @Html.TextAreaFor(model => model.InsuranceCompany.Address,new { @class = "form-control", @maxlength = "60", @placeholder = "calle, casa #. Sector. Provincia", @type = "text" })
                @Html.ValidationMessageFor(model => model.InsuranceCompany.Address, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCompany.Contact, new { @class = "control-label col-lg-2" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.InsuranceCompany.Contact, new { @class = "form-control", @maxlength = "30", @placeholder = "Contacto", @type = "text" })
                @Html.ValidationMessageFor(model => model.InsuranceCompany.Contact, null, new { @class = "text-danger" })
            </div>
        </div>
        
      

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <input type="submit" value="Crear" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}

 <div id="alerts">

    </div>
<div>
    @Html.ActionLink("Regresar", "ListOfInsuranceCompanies")
</div>
