﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@using (Ajax.BeginForm("CreateRepresentative", "Product", null,
        new AjaxOptions
        {
            HttpMethod = "post",
            OnSuccess = "onSuccessAlertMessage",
            OnFailure = "onFailureAlertMessage",
        }, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Creaci&oacute;n de Gestores</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Representative.Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Representative.Name, new { @class = "form-control", @maxlength = "30", @placeholder = "Nombre del gestor", @type = "text" })
                @Html.ValidationMessageFor(model => model.Representative.Name, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Representative.Addresss, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Representative.Addresss, new { @class = "form-control", @maxlength = "60", @placeholder = "Direccion del gestor", @type = "text" })
                @Html.ValidationMessageFor(model => model.Representative.Addresss, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Representative.PhoneNumber, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Representative.PhoneNumber, new { @class = "form-control", @maxlength = "10", @placeholder = "Telefono", @type = "text" })
                @Html.ValidationMessageFor(model => model.Representative.PhoneNumber, null, new { @class = "alert-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Representative.Invoice, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Representative.Invoice, new { @class = "form-control", @maxlength = "9999.99", @placeholder = "Factura", @type = "number" })
                @Html.ValidationMessageFor(model => model.Representative.Invoice, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="submit"  class="btn btn-primary" id="idRepresentativeButton"> Crear</button>
            </div>
        </div>
    </div>
}
<div id="alerts">

</div>
<div>
    @Html.ActionLink("Regresar", "ListOfRepresentatives")
</div>