﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Parametros Producto";
}

<div class="row">
    <div class="page-header">
        <h1 id="title">Creaci&oacute;n de Parametros: </h1>
    </div>
</div>

<div class="row">
    <ul class="nav nav-tabs">

        <li class="active" id="productInsuranceCompany">
            <a id="productInsuranceCompanyNext" href="#productInsuranceCompanies" data-toggle="tab">Compañia de seguros</a>
        </li>

        <li id="productBasicData">
            <a id="productBasicDataNext" href="#productBasicDataContent" data-toggle="tab">
                Producto
            </a>
        </li>

        <li id="productPlan">
            <a id="productPlanNext" href="#planBasic" data-toggle="tab">Planes</a>
        </li>

        <li id="productMethodOfPaymentOption">
            <a id="productMethodOfPaymentOptionNext" href="#productMethodOfPaymentOptions" data-toggle="tab">Opciones Forma de pago</a>
        </li>

        <li id="productMeansOfPaymentOption">
            <a id="productMeansOfPaymentOptionNext" href="#productMeansOfPaymentOptions" data-toggle="tab">Opciones medio de pago</a>
        </li>
        <li id="producBranchType">
            <a id="productBranchTypeNext" href="#productBranchTypes" data-toggle="tab">Ramos</a>
        </li>
        <li id="producRepresentative">
            <a id="productRepresentativeNext" href="#productRepresentatives" data-toggle="tab">Gestores</a>
        </li>
        
        <li id="producTypesIndexing">
            <a id="productTypesIndexingNext" href="#productTypesIndexings" data-toggle="tab">Tipos Indexaci&oacute;n</a>
        </li>
        <li id="producCurrencyRates">
            <a id="producCurrencyRatesNext" href="#producCurrencyRatesContent" data-toggle="tab">Tipos de Moneda</a>
        </li>

    </ul>

    <div id="myTabContent" class="tab-content">


        <div class="tab-pane fade in active" id="productInsuranceCompanies">
            <div class="well">
                @{
                    Html.RenderPartial("CreateCompany", Model);
                }

            </div>
        </div>
        
        <div class="tab-pane fade" id="productBasicDataContent">
            <div class="well">
                @{
                    Html.RenderPartial("CreateProductBasic", Model);
                }

            </div>
        </div>


        <div class="tab-pane fade" id="planBasic">
            <div class="well">
                @{
                    Html.RenderPartial("CreateProductPlan", Model);
                }

            </div>
        </div>

        <div class="tab-pane fade" id="productMethodOfPaymentOptions">
            <div class="well">
                @{
                    Html.RenderPartial("CreateProductMethodOfPaymentOption", Model);
                }

            </div>
        </div>

        <div class="tab-pane fade" id="productMeansOfPaymentOptions">
            <div class="well">
                @{
                    Html.RenderPartial("CreateProductMeansOfPaymentOptions", Model);
                }
            </div>
        </div>

        <div class="tab-pane fade" id="productBranchTypes">
            <div class="well">
                @{
                    Html.RenderPartial("CreateBranchType", Model);
                }
            </div>
        </div>
        
        <div class="tab-pane fade" id="productRepresentatives">
            <div class="well">
                @{
                    Html.RenderPartial("CreateRepresentative", Model);
                }
            </div>
        </div>
        
        <div class="tab-pane fade" id="productTypesIndexings">
            <div class="well">
                @{
                    Html.RenderPartial("CreateTypesIndexing", Model);
                }
            </div>
        </div>
        <div class="tab-pane fade" id="producCurrencyRatesContent">
            <div class="well">
                @{
                    Html.RenderPartial("CreateCurrencyRate", Model);
                }
            </div>
        </div>
    </div>
    <div id="alerts">

    </div>
</div>

