﻿@model  Multi_Insurance.WebUI.Models.ProductViewModel



@using (Ajax.BeginForm("CreateProductBasic", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Datos b&aacute;sicos</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Product.ProductCode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Product.ProductCode, new { @class = "form-control", @maxlength = "25", @placeholder = "Código Producto", @type = "text" })
                @Html.ValidationMessageFor(model => model.Product.ProductCode, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Product.Name, new { @class = "form-control", @maxlength = "30", @placeholder = "Nombre Producto", @type = "text" })
                @Html.ValidationMessageFor(model => model.Product.Name, null, new { @class = "alert-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Product.InsuranceCompanyId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.Product.InsuranceCompanyId, Model.InsuranceCompanies, "Seleccionar", new { @class = "form-control", @placeholder = "Aseguradora" })
                @Html.ValidationMessageFor(model => model.Product.InsuranceCompanyId, null, new { @class = "alert-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Product.CurrencyRateId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.Product.CurrencyRateId, Model.CurrencyRatesSelectListItems, "Seleccionar", new { @class = "form-control", @placeholder = "Tipo moneda" })
                @Html.ValidationMessageFor(model => model.Product.CurrencyRateId, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.BranchId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.Product.BranchId, Model.BranchTypesSelectListItems, "Seleccionar", new { @class = "form-control", @placeholder = "Ramo" })
                @Html.ValidationMessageFor(model => model.Product.BranchId, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.RepresentativeId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.Product.RepresentativeId, Model.RepresentativeSelectListItems, "Seleccionar", new { @class = "form-control", @placeholder = "Operador" })
                @Html.ValidationMessageFor(model => model.Product.RepresentativeId, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.TypeIndexingId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.Product.TypeIndexingId, Model.TypeIndexingSelectListItems, "Seleccionar", new { @class = "form-control", @placeholder = "Indexación" })
                @Html.ValidationMessageFor(model => model.Product.TypeIndexingId, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Contributive, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.CheckBoxFor(model => model.Product.Contributive, new { @class = "checkbox-inline" })
                @Html.ValidationMessageFor(model => model.Product.Contributive, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.OptativeShelter, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.CheckBoxFor(model => model.Product.OptativeShelter, new { @class = "checkbox-inline" })
                @Html.ValidationMessageFor(model => model.Product.OptativeShelter, null, new { @class = "alert-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Product.Itbis, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.CheckBoxFor(model => model.Product.Itbis, new { @class = "checkbox-inline" })
                @Html.ValidationMessageFor(model => model.Product.Itbis, null, new { @class = "alert-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Product.Emit, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.CheckBoxFor(model => model.Product.Emit, new { @class = "checkbox" })
                @Html.ValidationMessageFor(model => model.Product.Emit, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.CutDay, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Product.CutDay, new { @class = "form-control", @maxlength = "15", @placeholder = "día corte", @type = "text" })
                @Html.ValidationMessageFor(model => model.Product.CutDay, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.InitSaleDay, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Product.InitSaleDay, new { @class = "form-control", @placeholder = "Fecha Venta", @type = "date" })
                @Html.ValidationMessageFor(model => model.Product.InitSaleDay, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.NewPromotorCommission, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Product.NewPromotorCommission, new { @class = "form-control", @placeholder = "Comisión", @type = "number", @maxlength = 100 })
                @Html.ValidationMessageFor(model => model.Product.NewPromotorCommission, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.RenewPromotorCommission, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Product.RenewPromotorCommission, new { @class = "form-control", @placeholder = "Comisión renovada", @type = "number", @maxlength = 100 })
                @Html.ValidationMessageFor(model => model.Product.RenewPromotorCommission, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.NewBankCommission, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Product.NewBankCommission, new { @class = "form-control", @placeholder = "Comisión banco", @type = "number", @maxlength = 100 })
                @Html.ValidationMessageFor(model => model.Product.NewBankCommission, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.RenewBankCommission, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Product.RenewBankCommission, new { @class = "form-control", @placeholder = "Comisión banco renovada", @type = "number", @maxlength = 100 })
                @Html.ValidationMessageFor(model => model.Product.RenewBankCommission, null, new { @class = "alert-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Product.MenDiscount, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Product.MenDiscount, new { @class = "form-control", @placeholder = "descuento hombres", @type = "number", @maxlength = 100 })
                @Html.ValidationMessageFor(model => model.Product.MenDiscount, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.WomenDiscount, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Product.WomenDiscount, new { @class = "form-control", @placeholder = "descuento mujeres", @type = "number", maxlength = 100 })
                @Html.ValidationMessageFor(model => model.Product.WomenDiscount, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.NewSalerIncentive, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Product.NewSalerIncentive, new { @class = "form-control", @placeholder = "incentivo vendedor nuevo", @type = "number", maxlength = 100 })
                @Html.ValidationMessageFor(model => model.Product.NewSalerIncentive, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.RenewSalerIncentive, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Product.RenewSalerIncentive, new { @class = "form-control", @placeholder = "incentivo vendedor renovada", @type = "number", maxlength = 100 })
                @Html.ValidationMessageFor(model => model.Product.RenewSalerIncentive, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" id="productDataButton">
                    Crear
                </button>
            </div>
        </div>
    </div>
}


