﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@using (Ajax.BeginForm("CreateCurrencyRate","Product",null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    },
    new {@class = "form-horizontal"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Creaci&oacute;n de tipo de moneda</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CurrencyRates.Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.CurrencyRates.Name, new { @class = "form-control", @maxlength = "30", @placeholder = "Nombre de la moneda", @type = "text" })
                @Html.ValidationMessageFor(model => model.CurrencyRates.Name, null, new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.CurrencyRates.Symbol, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.CurrencyRates.Symbol, new { @class = "form-control", @maxlength = "5", @placeholder = "Símbolo de la moneda", @type = "text" })
                @Html.ValidationMessageFor(model => model.CurrencyRates.Symbol, null, new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">
                    Crear
                </button>
            </div>
        </div>
    </div>
}

<div id="alerts">

</div>
<div>
    @Html.ActionLink("Regresar", "ListOfCurrencyRates")
</div>