﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@using (Ajax.BeginForm("CreateProductMethodOfPaymentOption", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }
    , new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Datos básicos forma de pago</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionName, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionName, new { @class = "form-control", @maxlength = "30", @placeholder = "Nombre de la forma de pago", @type = "text" })
                @Html.ValidationMessageFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionName)
            </div>
        </div>

         <div class="form-group">
            @Html.LabelFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionsCode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionsCode, new { @class = "form-control", @maxlength = "999", @placeholder = "Código Forma de pago", @type = "number" })
                @Html.ValidationMessageFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionsCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionDivisor, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionDivisor, new { @class = "form-control", @maxlength = "30", @placeholder = "Divisor de forma de pago", @type = "number" })
                @Html.ValidationMessageFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionDivisor)
            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <input type="submit" class="btn btn-primary" value="Crear" />
            </div>
        </div>
    </div>
}
<div id="alerts">
</div>


<div>
    @Html.ActionLink("Regresar", "ListOfProductMethodOfPaymentOptions")
</div>
