﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@using (Ajax.BeginForm("CreateProductPremiumUnder", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Configuracion de primas amparo</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PremiumsUnder.ProductId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(m => m.PremiumsUnder.ProductId,
         Model.ProductSelectListItems, "Seleccione un producto", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PremiumsUnder.ProductId, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PremiumsUnder.ShelterCode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.PremiumsUnder.ShelterCode,
                Model.ShelterSelectListItems, "Seleccione un amparo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PremiumsUnder.ShelterCode, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PremiumsUnder.ProductPlancode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.PremiumsUnder.ProductPlancode,
         Model.ProductPlanSelectItems, "Seleccione un plan", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PremiumsUnder.ProductPlancode, null,
         new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PremiumsUnder.AgeFrom, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.PremiumsUnder.AgeFrom, new { @class = "form-control", @max = "18", @placeholder = "Edad desde", @type = "number" })
                @Html.ValidationMessageFor(model => model.PremiumsUnder.AgeFrom, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PremiumsUnder.AgeTo, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextAreaFor(model => model.PremiumsUnder.AgeTo, new { @class = "form-control", @max = "95", @placeholder = "Edad hasta", @type = "number" })
                @Html.ValidationMessageFor(model => model.PremiumsUnder.AgeTo, null, new { @class = "alert-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PremiumsUnder.PremiumsUnderValue, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.PremiumsUnder.PremiumsUnderValue, new { @class = "form-control", @placeholder = "Valor de la prima", @type = "number" })
                @Html.ValidationMessageFor(model => model.PremiumsUnder.PremiumsUnderValue, null, new { @class = "alert-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" id="productPremiumUnderContent">
                    Crear
                </button>
            </div>

        </div>
    </div>
}
