﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@using (Ajax.BeginForm("CreateProductPlan", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }
    , new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Nombre y c&oacute;digo de plan</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductPlan.PlanName, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.ProductPlan.PlanName, new { @class = "form-control", @maxlength = "30", @placeholder = "Nombre Plan", @type = "text" })
                @Html.ValidationMessageFor(model => model.ProductPlan.PlanName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" >Crear</button>
            </div>
        </div>
    </div>
}


 <div id="alerts">

    </div>

<div>
    @Html.ActionLink("Regresar", "ListOfProductPlan")
</div>