﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@using (Ajax.BeginForm("CreateAdditionalTypeInfo", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }
    , new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Creaci&oacute;n de info adicional</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.AdditionalTypeInfo.Code, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.AdditionalTypeInfo.Code, new { @class = "form-control", @maxlength = "999", @placeholder = "código", @type = "number" })
                @Html.ValidationMessageFor(model => model.AdditionalTypeInfo.Code, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdditionalTypeInfo.Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.AdditionalTypeInfo.Name, new { @class = "form-control", @maxlength = "49", @placeholder = "Nombre info adicional", @type = "text" })
                @Html.ValidationMessageFor(model => model.AdditionalTypeInfo.Name, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div id="alerts">

</div>
<div>
    @Html.ActionLink("Regresar", "ListOfAdditionalTypeInfos")
</div>
