﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Detalle moneda";
}



<div>
    <h4>Detalle moneda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrencyRates.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyRates.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyRates.Symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyRates.Symbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyRates.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyRates.Modified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditCurrencyRate", new { id = Model.CurrencyRates.CurrencyRatesId }) |
    @Html.ActionLink("Regresar", "ListOfCurrencyRates")
</p>
