﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Detalle info adicional";
}



<div>
    <h4>Detalle info adicional</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalTypeInfo.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalTypeInfo.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalTypeInfo.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalTypeInfo.Modified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditAdditionalTypeInfo", new { id = Model.AdditionalTypeInfo.Id }) |
    @Html.ActionLink("Regresar", "ListOfAdditionalTypeInfos")
</p>
