﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Detalle Gestor";
}


<div>
    <h4>Detalle Gestor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Representative.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representative.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Representative.Addresss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representative.Addresss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Representative.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representative.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Representative.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representative.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Representative.Invoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representative.Invoice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditRepresentative", new { id = Model.Representative.RepresentativeId }) |
    @Html.ActionLink("Regresar", "ListOfRepresentatives")
</p>
