﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Detalle Forma de pago";
}



<div>
    <h4>Forma de pago</h4>
    <hr />
    <dl class="dl-horizontal">
     
   

        <dt>
            @Html.DisplayNameFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionDivisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionDivisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MethodOfPaymentOptions.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MethodOfPaymentOptions.LastModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditProductMethodOfPaymentOption", new {  id = Model.MethodOfPaymentOptions.MethodOfPaymentOptionsCode}) |
    @Html.ActionLink("Regresar", "ListOfProductMethodOfPaymentOptions")
</p>
