﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Detalle amparo";
}



<div>
    <h4>Detalle amparo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShelterType.ShelterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelterType.ShelterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShelterType.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelterType.DateModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditShelterType", new { id = Model.ShelterType.Id }) |
    @Html.ActionLink("Regresar", "ListOfShelterTypes")
</p>
