﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Detalle compañia";
}


<div>
    <h4>Detalle de compañia</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InsuranceCompany.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceCompany.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceCompany.Rnc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceCompany.Rnc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceCompany.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceCompany.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceCompany.Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceCompany.Percentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceCompany.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceCompany.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceCompany.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceCompany.Contact)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditCompany", new { id = Model.InsuranceCompany.Id }) |
    @Html.ActionLink("Regresar", "ListOfInsuranceCompanies")
</p>
