﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Detalle indexación";
}



<div>
    <h4>Detalle indexación</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.TypesIndexing.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypesIndexing.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypesIndexing.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypesIndexing.Modified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditTypesIndexing", new {  id = Model.TypesIndexing.TypeIndexingId }) |
    @Html.ActionLink("Regresar", "ListOfTypesIndexing")
</p>
