﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Detalle producto";
}



<div>
    <h4>Detalle producto</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.InsuranceCompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceCompanies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.CurrencyRateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyRatesSelectListItems)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.BranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.BranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.RepresentativeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.RepresentativeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.TypeIndexingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.TypeIndexingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.MarketingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.MarketingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Contributive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Contributive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.OptativeShelter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.OptativeShelter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Itbis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Itbis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Emit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Emit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.CutDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.CutDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.InitSaleDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.InitSaleDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.NewPromotorCommission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.NewPromotorCommission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.RenewPromotorCommission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.RenewPromotorCommission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.NewBankCommission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.NewBankCommission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.RenewBankCommission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.RenewBankCommission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.MenDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.MenDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.WomenDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.WomenDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.NewSalerIncentive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.NewSalerIncentive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.RenewSalerIncentive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.RenewSalerIncentive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Modified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
