﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Detalle Medio de Pago";
}


<div>
    <h4>Detalle de Medio de Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MeansOfPaymentOptions.MeansOfPaymentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeansOfPaymentOptions.MeansOfPaymentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeansOfPaymentOptions.MeansOfPaymentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeansOfPaymentOptions.MeansOfPaymentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeansOfPaymentOptions.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeansOfPaymentOptions.Modified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditProductMeansfPaymentOption", new {  id = Model.MeansOfPaymentOptions.MeansOfPaymentCode  }) |
    @Html.ActionLink("Regresar", "ListOfProductMeansOfPaymentOptions")
</p>
