﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Detalle ramo";
}



<div>
    <h4>Detalle de ramo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BranchType.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchType.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchType.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchType.Modified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditBranchType", new { id = Model.BranchType.Id }) |
    @Html.ActionLink("Regresar", "ListOfBranchTypes")
</p>
