﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Detalle Plan Producto";
}

<div>
    <h4>Detalle</h4>
	<hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.ProductPlan.PlanName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPlan.PlanName)
        </dd>

         <dt>
            @Html.DisplayNameFor(model => model.ProductPlan.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPlan.Modified)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditProductPlan", new {  id = Model.ProductPlan.ProductId }) |
    @Html.ActionLink("Regresar", "ListOfProductPlan")
</p>
