﻿@model Multi_Insurance.WebUI.Models.ProductViewModel
           
@{
    ViewBag.Title = "Editar Indexación";
}

@using (Ajax.BeginForm("EditTypesIndexing", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }
    , new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar indexaci&oacute;n</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TypesIndexing.TypeIndexingId)

        <div class="form-group">
            @Html.LabelFor(model => model.TypesIndexing.Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.TypesIndexing.Name, new { @class = "form-control", @maxlength = "30", @placeholder = "Tipo de indexación", @type = "text" })
                @Html.ValidationMessageFor(model => model.TypesIndexing.Name, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </div>
    </div>
}


<div id="alerts">

</div>
<div>
    @Html.ActionLink("Regresar", "ListOfTypesIndexing")
</div>