﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Editar compañia";
}


@using (Ajax.BeginForm("EditCompany","Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }
    , new {@class = "form-horizontal"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Editar Compañia de seguros</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.InsuranceCompany.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCompany.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.InsuranceCompany.Name,new { @class = "form-control", @maxlength = "30", @placeholder = "Nombre Compañia", @type = "text" })
                @Html.ValidationMessageFor(model => model.InsuranceCompany.Name, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCompany.Rnc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.InsuranceCompany.Rnc, new { @class = "form-control", @maxlength = "9", @placeholder = "RNC", @type = "text" })
                @Html.ValidationMessageFor(model => model.InsuranceCompany.Rnc, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCompany.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.InsuranceCompany.Address,new { @class = "form-control", @maxlength = "60", @placeholder = "calle, casa #. Sector. Provincia", @type = "text" })
                @Html.ValidationMessageFor(model => model.InsuranceCompany.Address, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCompany.Percentage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.InsuranceCompany.Percentage, new { @class = "form-control", @maxlength = "9", @placeholder = "Porcentaje compañia seguros", @type = "number" })
                @Html.ValidationMessageFor(model => model.InsuranceCompany.Percentage, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCompany.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.InsuranceCompany.Phone, new { @class = "form-control", @maxlength = "30", @placeholder = "Telefono", @type = "text" })
                @Html.ValidationMessageFor(model => model.InsuranceCompany.Phone, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCompany.Contact, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.InsuranceCompany.Contact, new { @class = "form-control", @maxlength = "30", @placeholder = "Contacto", @type = "text" })
                @Html.ValidationMessageFor(model => model.InsuranceCompany.Contact, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-primary" />
                <button name="X-HTTP-Method-Override" value="DELETE" formnovalidate 
   class="cancel btn btn-alert" onclick="return confirm('Esta seguro?')">Borrar</button>
            </div>
        </div>
    </div>
}

 <div id="alerts">

    </div>
<div>
    @Html.ActionLink("Regresar", "ListOfInsuranceCompanies")
</div>
