﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Editar ramo";
}

@using (Ajax.BeginForm("EditBranchType", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }
    , new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar ramo</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.BranchType.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.BranchType.Code, new { @class = "col-md-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.BranchType.Code, new { @class = "form-control", @placeholder = "Código tipo de ramo", @type = "number" })
                @Html.ValidationMessageFor(model => model.BranchType.Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchType.Name, new { @class = "col-md-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.BranchType.Name, new { @class = "form-control", @maxlength = "30", @placeholder = "Nombre del ramo", @type = "text" })
                @Html.ValidationMessageFor(model => model.BranchType.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <input type="submit" class="btn btn-primary" value="Editar">
            </div>
        </div>
    </div>
}


<div id="alerts">

</div>
<div>
    @Html.ActionLink("Regresar", "ListOfBranchTypes")
</div>