﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Editar Forma de pago";
}


@using (Ajax.BeginForm("EditProductMethodOfPaymentOption", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }
    , new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Editar Forma de pago</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionName, new { @class = "control-label col-md-2" })
            <div class="col-lg-6">
                @Html.EditorFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionName)
                @Html.ValidationMessageFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionsCode, new { @class = "control-label col-md-2" })
            <div class="col-lg-6">
                @Html.EditorFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionsCode)
                @Html.ValidationMessageFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionsCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionDivisor, new { @class = "control-label col-md-2" })
            <div class="col-lg-6">
                @Html.EditorFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionDivisor)
                @Html.ValidationMessageFor(model => model.MethodOfPaymentOptions.MethodOfPaymentOptionDivisor)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-lg-6">
                <input type="submit" value="Editar" class="btn btn-primary" />
                <button name="X-HTTP-Method-Override" value="DELETE" formnovalidate
                    class="cancel btn btn-alert" onclick="return confirm('Esta seguro?')">
                    Borrar</button>
            </div>
        </div>
    </div>
}

<div id="alerts">
</div>
<div>
    @Html.ActionLink("Regresar", "ListOfProductMethodOfPaymentOptions")
</div>
