﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Editar Medio de pago";
}


@using (Ajax.BeginForm("EditProductMeansfPaymentOption", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage",
    }, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Editar Medio de Pago</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MeansOfPaymentOptions.MeansOfPaymentCode)        

        <div class="form-group">
            @Html.LabelFor(model =>model.MeansOfPaymentOptions.MeansOfPaymentName,  new { @class = "control-label col-md-2" })
            <div class="col-lg-6">
                @Html.EditorFor(model =>model.MeansOfPaymentOptions.MeansOfPaymentName)
                @Html.ValidationMessageFor(model =>model.MeansOfPaymentOptions.MeansOfPaymentName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-lg-6">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


<div id="alerts">

</div>
<div>
    @Html.ActionLink("Regresar", "ListOfProductMeansOfPaymentOptions")
</div>