﻿@model Multi_Insurance.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Editar amparo";
}


@using (Ajax.BeginForm("EditShelterType", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }
    , new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar Amparo</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ShelterType.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ShelterType.ShelterName, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.ShelterType.ShelterName, new { @class = "form-control", @maxlength = "20", @placeholder = "Amparo", @type = "text" })
                @Html.ValidationMessageFor(model => model.ShelterType.ShelterName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShelterType.BranchCode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.ShelterType.BranchCode, Model.BranchTypesSelectListItems, "Seleccione un ramo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ShelterType.BranchCode, null, new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div id="alerts">

</div>
<div>
    @Html.ActionLink("Regresar", "ListOfShelterTypes")
</div>
