﻿@model Multi_Insurance.WebUI.Models.ProductViewModel


@{
    ViewBag.Title = "Planes Producto";
}



@using (Ajax.BeginForm("EditProductPlan", "Product", null,
    new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "onSuccessAlertMessage",
        OnFailure = "onFailureAlertMessage"
    }
    , new {@class = "form-horizontal"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Editar planes de producto</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProductPlan.ProductId)


        <div class="form-group">
            @Html.LabelFor(model => model.ProductPlan.PlanName, new { @class = "control-label col-md-2" })
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.ProductPlan.PlanName, new { @class = "form-control", @maxlength = "30", @placeholder = "Nombre Plan", @type = "text" })
                @Html.ValidationMessageFor(model => model.ProductPlan.PlanName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-lg-6">
                <input type="submit" value="Editar" class="btn btn-primary" />
                 <button name="X-HTTP-Method-Override" value="DELETE" formnovalidate 
   class="cancel btn btn-alert" onclick="return confirm('Esta seguro?')">Borrar</button>
            </div>
        </div>
    </div>
}
 <div id="alerts">

    </div>
<div>
    @Html.ActionLink("Regresar", "ListOfProductPlan")
</div>
