﻿@model Multi_Insurance.WebUI.Models.ProductViewModel
@{
    ViewBag.Title = "Productos";
}


<div class="row">
    <div class="page-header">
        <h1 id="title">Seleccione una acci&oacute;n: </h1>
    </div>
</div>

<div class="row">
    <div class="well">
        <div class="form-horizontal">
            <h3>Crear parametros productos</h3>
            <div class="form-group">

                <div class="col-lg-6">
                    @Html.ActionLink("Crear Parametros Producto", "CreateParameters", "Product")
                </div>
            </div>
        </div>

    </div>
</div>
<hr />
<div class="row">
    <div class="well">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h3>Modificar un parametro existente</h3>
                <div class="form-group">
                    <div class="col-lg-6">
                        @Html.DropDownListFor(model => model.Product.ProductCode, new[]
                    {
                        new SelectListItem { Text = "", Value = "1" },
                        new SelectListItem { Text = "", Value = "2" }
                    }, "Selecione", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-default" id="addproductOptions">
                            Siguiente
                        </button>

                    </div>
                </div>
            </div>
        }

    </div>
</div>


