﻿@model IEnumerable<Multi_Insurance.DataAccessLayer.Entities.Product>

@{
    ViewBag.Title = "Lista de productos";
}

<h2>Lista de Productos</h2>

<p>
    @Html.ActionLink("Crear", "CreateProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCode)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditProductBasicData", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "DetailProductBasicData", new { id=item.Id }) |
        @*    @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
