﻿@model IEnumerable<Multi_Insurance.DataAccessLayer.Entities.MeansOfPaymentOptions>

@{
    ViewBag.Title = "Lista medios de pago";
}

<h2>Lista de medios de pago</h2>

<p>
    @Html.ActionLink("Crear", "CreateProductMeansOfPaymentOption")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MeansOfPaymentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeansOfPaymentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MeansOfPaymentCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeansOfPaymentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditProductMeansfPaymentOption", new {  id=item.MeansOfPaymentCode  }) |
            @Html.ActionLink("Detalles", "DetailsProductMeansOfPaymentOption", new {  id=item.MeansOfPaymentCode}) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
