﻿@model IEnumerable<Multi_Insurance.DataAccessLayer.Entities.MethodOfPaymentOptions>

@{
    ViewBag.Title = "Lista forma de pago";
}

<h2>Lista Forma de pago</h2>

<p>
    @Html.ActionLink("Crear", "CreateProductMethodOfPaymentOption")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MethodOfPaymentOptionsCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MethodOfPaymentOptionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MethodOfPaymentOptionDivisor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MethodOfPaymentOptionsCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MethodOfPaymentOptionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MethodOfPaymentOptionDivisor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModified)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditProductMethodOfPaymentOption", new {  id=item.MethodOfPaymentOptionsCode }) |
            @Html.ActionLink("Detalle", "DetailsProductMethodOfPaymentOption", new {  id=item.MethodOfPaymentOptionsCode }) 
        </td>
    </tr>
}

</table>
