﻿@model IEnumerable<Multi_Insurance.DataAccessLayer.Entities.AdditionalTypeInfo>

@{
    ViewBag.Title = "Lista Info Adicional";
}

<h2>Lista de info adicional</h2>

<p>
    @Html.ActionLink("Crear", "CreateAdditionalTypeInfo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditAdditionalTypeInfo", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "DetailsAdditionalTypeInfo", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
