﻿@model IEnumerable<Multi_Insurance.DataAccessLayer.Entities.TypesIndexing>

@{
    ViewBag.Title = "Lista Indexación";
}

<h2>Lista indexaci&oacute;n</h2>

<p>
    @Html.ActionLink("Crear", "CreateTypesIndexing")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditTypesIndexing", new {  id=item.TypeIndexingId }) |
            @Html.ActionLink("Detalle", "DetailsTypesIndexing", new {  id=item.TypeIndexingId }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
