﻿@model IEnumerable<Multi_Insurance.DataAccessLayer.Entities.InsuranceCompany>

@{
    ViewBag.Title = "Lista de compañias";
}

<h2>Lista de compañias</h2>

<p>
    @Html.ActionLink("Crear", "CreateCompany") 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rnc)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Percentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rnc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Percentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        
        <td>
            @Html.ActionLink("Editar", "EditCompany", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "DetailsCompany", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
