﻿@model IEnumerable<Multi_Insurance.DataAccessLayer.Entities.BranchType>

@{
    ViewBag.Title = "Lista de ramos";
}

<h2>Lista de ramos</h2>

<p>
    @Html.ActionLink("Crear", "CreateBranchType")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditBranchType", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "DetailsBranchType", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
