﻿@model IEnumerable<Multi_Insurance.DataAccessLayer.Entities.ShelterType>

@{
    ViewBag.Title = "Lista amparos";
}

<h2>Lista amparo</h2>

<p>
    @Html.ActionLink("Crear", "CreateShelterType")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShelterName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShelterName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditShelterType", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "DetailsShelterType", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
