﻿@model IEnumerable<Multi_Insurance.DataAccessLayer.Entities.ProductPlan>

@{
    ViewBag.Title = "Planes";
}
<h2>Lista de Planes de producto</h2>

<p>
    @Html.ActionLink("Crear", "CreateProductPlan")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.PlanName)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditProductPlan", new {  id= item.ProductId }) |
            @Html.ActionLink("Detalle", "DetailsProductPlan", new { id= item.ProductId }) 
        </td>
    </tr>
}

</table>
