﻿@model IEnumerable<Multi_Insurance.DataAccessLayer.Entities.Representative>

@{
    ViewBag.Title = "Lista de gestores";
}

<h2>Lista de gestores</h2>

<p>
    @Html.ActionLink("Crear", "CreateRepresentative")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditRepresentative", new { id = item.RepresentativeId }) |
                @Html.ActionLink("Detalle", "DetailsRepresentative", new { id = item.RepresentativeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RepresentativeId })
            </td>
        </tr>
    }

</table>
