﻿@model IEnumerable<Multi_Insurance.DataAccessLayer.Entities.CurrencyRates>

@{
    ViewBag.Title = "Lista de monedas";
}

<h2>Lista de monedas</h2>

<p>
    @Html.ActionLink("Crear", "CreateCurrencyRate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditCurrencyRate", new { id=item.CurrencyRatesId }) |
            @Html.ActionLink("Detalle", "DetailsCurrencyRate", new { id=item.CurrencyRatesId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CurrencyRatesId })
        </td>
    </tr>
}

</table>
